<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("../partials/head") %>


    <head>
        <link rel="stylesheet" href="/css/crud.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Crud</title>
    </head>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
            <main>
                <div class="container">
                    <div class="title">Creacion del producto</div>
                    <div class="content">
                        <form action="/products/" method="POST" enctype="multipart/form-data">
                            <div class="product-details">
                                <div class="input-box">
                                    <span class="details">Nombre del
                                        Producto</span>
                                    <input type="text" placeholder="Nombre del producto" name="name" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Precio del
                                        producto</span>
                                    <input type="text" placeholder="Precio del producto" name="price" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Aplicar
                                        descuento</span>
                                    <input type="text" placeholder="Aplicar Descuento" name="discount" required>
                                </div>
                                <div class="input-box select-category">
                                    <span for="category">Categoria Del
                                        Producto</span>
                                    <select name="category">
                                        <option value="computer">Computadora
                                        </option>
                                        <option value="screen">Pantalla</option>
                                        <option value="phone">Celular</option>
                                        <option value="audio">Audio</option>
                                        <option value="other">Otro</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <span class="details">Imagen
                                        principal</span>
                                    <input type="file" placeholder="Imagen Principal" name="image1" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Imagen
                                        Secundaria</span>
                                    <input type="file" placeholder="Imagen Secundaria" name="image2" required>
                                </div>
                            </div>
                            <div class="input-box text-description">
                                <label for="description">Descripcion del
                                    producto:</label>
                                <textarea class="searchInput" type="textarea" name="description"
                                    placeholder="insertar descripcion del producto" name="description"> </textarea>
                            </div>
                            <div class="button-crud-holder">
                                <button class="button-crud" type="submit">Crear
                                    Producto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <%- include("../partials/footer") %>
    </body>

</html>