<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
</head>
<body> 
    <main>
        <form action="" method="POST">
            <input type="text" name="name">
            <input type="text" name="description">
            <input type="file" name="image"><div class="form-item">
            <h3 class="titles">Categoria</h3>
            <div class="item">
                <label for="computadoras" >Computadoras</label>
                        <input type="radio" name="computadoras" id="computadoras" value="computadoras">
                </div>
                <div class="item">
                    <label for="televisores" >Televisores</label>
                    <input type="radio" name="televisores" id="televisores" value="televisores">
                </div>
                <div class="item">
                    <label for="celulares" >Celulares</label>
                    <input type="radio" name="celulares" id="celulares" value="celulares">
                </div>
                <div class="item">
                    <label for="tablets" >Tablets</label>
                    <input type="radio" name="tablets" id="tablets" value="tablets">
                </div>
                <div class="item">
                    <label for="componentes" >Componentes</label>
                    <input type="radio" name="componentes" id="componentes" value="componentes">
                </div>
            </div>
            <textarea type="text" name="details">
            <input type="text" name="price">

        </form>
    </main>
    
</body>
</html>