<header>
   <li><img src="design/logo.png" alt="Logo AllTech"></li>
   <form action="#" method="get">
      <input type="text" placeholder="Search.." id="search">
      <button type="submit"><i class="fa fa-search"></i></button>
   </form>
   <a href="productCart.html"><i class="fas fa-shopping-cart"></i></a>
   <a href="login.html"><i class="fas fa-user-circle"></i></a>
   <nav>
      <ul>
         <li>PC</li>
         <li>Celulares</li>
         <li>Audio</li>
         <li>Periféricos</li>
      </ul>
   </nav>
</header>