<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>All Star Tech</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/index.css">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <header>
      Header
   </header>
   <main>
      <section class="carrousel">
         <div class="carrousel1">
            <img src="images/placeholder-image.png" alt="imagen">
            <button>Ver más</button>
         </div>
         <div class="carrousel2">
            <img src="images/placeholder-image.png" alt="imagen">
            <button>Ver más</button>
         </div>
         <div class="carrousel3">
            <img src="images/placeholder-image.png" alt="imagen">
            <button>Ver más</button>
         </div>
      </section>
      <section class="ads">
         <div class="ad">
            <p>DESCUENTOS EN CELULARES CON TU TARJETA ¡HASTA 50% DE DECUENTO!</p>
            <img src="images/placeholder-image.png" alt="imagen">
         </div>
         <div class="ad">
            <img src="images/placeholder-image.png" alt="imagen">
            <p>SI SOS MIEMBRO TENÉS ENVÍO GRATIS A TODO EL PAÍS</p>
         </div>
      </section>
      <section class="explore">
         <h3>EXPLORA NUESTROS PRODUCTOS</h3>
         <div class="categories">
            <article class="category">
               <a href="#">
                  <img src="images/placeholder-image.png" alt="imagen">
                  <p>PC's</p>
               </a>
            </article>
            <article class="category">
               <a href="#">
                  <img src="images/placeholder-image.png" alt="imagen">
                  <p>Celulares</p>
               </a>
            </article>
            <article class="category">
               <a href="#">
                  <img src="images/placeholder-image.png" alt="imagen">
                  <p>Auriculares</p>
               </a>
            </article>
            <article class="category">
               <a href="#">
                  <img src="images/placeholder-image.png" alt="imagen">
                  <p>Pantallas</p>
               </a>
            </article>
            <article class="category">
               <a href="#">
                  <img src="images/placeholder-image.png" alt="imagen">
                  <p>Ver Todo</p>
               </a>
            </article>
         </div>
      </section>
      <section class="suscribe">
         <h3>Suscribete a nuestro Newsletter para tener los últimos y mejores descuentos</h3>
         <form action="#" method="get">
            <input type="text" placeholder="example@mail.com">
            <button type="submit">Suscribirme</button>
         </form>
      </section>
   </main>
   <footer>
      Footer
   </footer>
</body>

</html>