<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>All Star Tech</title>
</head>

<body>
   <header>
      Header
   </header>
   <main>
      <section>
         <div class="carrousel1">
            <img src="images/placeholder-image.png" alt="imagen">
            <button>Ver más</button>
         </div>
         <div class="carrousel2">
            <img src="images/placeholder-image.png" alt="imagen">
            <button>Ver más</button>
         </div>
         <div class="carrousel3">
            <img src="images/placeholder-image.png" alt="imagen">
            <button>Ver más</button>
         </div>
      </section>
   </main>
   <footer>
      Footer
   </footer>
</body>
</html>