<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Formulario Login</title>
</head>
<body>
    <form class="login">
        <h5>INICIAR SESION</h5>
        <input class="CampoTexto" type="text" name="usuario" value="" placeholder="Ingresa tu correo">
        <input class="CampoTexto" type="password" name="contraseña" value="" placeholder="Ingresa tu contraseña">
        <input class="Boton" type="submit" name="" value="Ingresar">
        <p>
            <a href="#">¿Olvidaste tu contraseña?</a>
        </p>
    </form>
    
</body>
</html>