<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/productResultsStyles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/css/header-footer.css">


</head>

<body>
    <header>
      <a href="/" class="logo-link">
         <img src="design/logo.png" alt="Logo AllTech" class="logo">
      </a>
         
      <nav>
         <ul class="nav-bar" style="list-style-type:none">
            <li>PC</li>
            <li>Celulares</li>
            <li>Audio</li>
            <li>Periféricos</li>
         </ul>  
      </nav>
         
      <form action="/" method="get" class="form">
         <input type="text" placeholder="Search.." id="search">
         <button class="botton" type="submit"><i class="fa fa-search"></i></button>
      </form>
         
      <a href="/productCart" id="shoping-car" class="links"><i class="fas fa-shopping-cart"></i></a>
      <a href="/login" id="shoping-car2" class="links"><i class="fas fa-user-circle"></i></a>
      <button class="burguer-menu" type="button">
         <i class="fas fa-bars"></i>
      </button>  
    </header>

    <main>

        <div class="order-filter">

            <div class="order">
                <select class="ordenar">
                    <option>Ordenar</option>
                    <option>Mayor precio</option>
                    <option>Menor precio</option>
                </select>
                <span class="sort"><i class="fa-solid fa-sort "></i></span>
            </div>


            <div class="categories">
                <h3>Producto:</h3>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> PC</label>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> Celulares</label>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> Perifericos</label>
            </div>
        </div>



        <div class="content">

            <h4 class="">Nuevo</h4>
            <div class="productList">
                <div class="product">
                    <div>
                        <img class="img" src="images/galaxy-flip-3.jpg" />
                        <div class="text">
                            <p class="name">Samsung Galaxy Z Flip 3</p>
                            <p class="price">$100.000</p>
                            <p class="discount">10%off</p>
                            <div class="options">
                                <a class="ver-más" href="/productDetail">Ver más</a>
                                <button type="submit" id="carrito">Agregar
                                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div>
                        <img class="img" src="images/galaxy-flip-3.jpg" />
                        <div class="text">
                            <p class="name">Samsung Galaxy Z Flip 3</p>
                            <p class="price">$100.000</p>
                            <p class="discount">10%off</p>
                            <div class="options">
                                <a class="ver-más" href="/productDetail">Ver más</a>
                                <button type="submit" id="carrito">Agregar
                                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="product">
                    <div>
                        <img class="img" src="images/galaxy-flip-3.jpg" />
                        <div class="text">
                            <p class="name">Samsung Galaxy Z Flip 3</p>
                            <p class="price">$100.000</p>
                            <p class="discount">10%off</p>
                            <div class="options">
                                <a class="ver-más" href="/productDetail">Ver más</a>
                                <button type="submit" id="carrito">Agregar
                                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div>
                        <img class="img" src="images/galaxy-flip-3.jpg" />
                        <div class="text">
                            <p class="name">Samsung Galaxy Z Flip 3</p>
                            <p class="price">$100.000</p>
                            <p class="discount">10%off</p>
                            <div class="options">
                                <a class="ver-más" href="/productDetail">Ver más</a>
                                <button type="submit" id="carrito">Agregar
                                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

    <footer>
      <article>
         <h3>Sobre nosotros</h3>
      
         <ul>
            <li>Nuestra compañia</li>
            <li>Historia</li>
            <li>Ubicaciones</li>
            <li>Resultados financieros</li>
         </ul>
      </article>
         
      <article>
         <h3>Contacto</h3>
      
         <ul>
            <li>Trabaja con nosotros</li>
            <li>Sugerencias</li>
            <li>Quejas y reclamos</li>
         </ul>
      </article>
         
      <article>
         <h3>FAQs</h3>
      
         <ul>
            <li>Opciones de pago</li>
            <li>¿Qué pasa si no me llega un envío?</li>
            <li>¿Cómo funcionan las promociones?</li>
         </ul>
      </article>
         
      <article>
         <h3>Terminos y condiciones</h3>
      
         <ul>
            <li>¿Cómo cuidamos tu privacidad?</li>
            <li>Accesibilidad</li>
            <li>Documentos legales</li>
         </ul>
      </article>
      
      <article>
         <h3 id="title-social">Conecta con nosotros</h3>
         
         <ul class="social-contacts">
            <li>
               <a href="https://www.linkedin.com" class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
               </a>
            </li>
            <li>
               <a href="https://twitter.com" class="twitter">
                  <i class="fa-brands fa-twitter"></i>
               </a>
            </li>
            <li>
               <a href="https://www.instagram.com/" class="instagram">
                  <i class="fa-brands fa-instagram"></i>
               </a>
            </li>
            <li>
               <a href="https://www.facebook.com/" class="facebook">
                  <i class="fa-brands fa-facebook"></i>
               </a>
            </li>
         </ul>
      </article>
    </footer>


</body>

</html>