<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/header-footer.css">
</head>
<body>
   <header id="myheader">
   </header>
    <h1>Mi Carrito</h1>
    <section>
        <div>
            <img src="/img/descarga.jfif" alt="">
            <h2>nombre descriptivo del producto</h2>
            <p>descuento</p>
            <label for="cantidad">cantidad</label>
            <select name="" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <p>PRECIO</p>
        <a href="">eliminar</a>
        <a href="">ver otros productos del mismo vendedor</a>
        </div>
    </section>
    
    <section>
        <p>envio a la direccion correspondiente</p>
        <p>costo del envio</p>
        <h4>total con envio</h4>
        <p>PRECIO ACUMULADO DEL Carrito</p>
        <button>CONTINUAR COMPRA</button>
    </section>

   <footer id="myfooter">
   </footer>

   <script src="js/headerFooter.js"></script>
</body>
</html>