<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400;900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <title>Mi Carrito</title>
</head>

<body>
    <header>
      <a href="/" class="logo-link">
         <img src="design/logo.png" alt="Logo AllTech" class="logo">
      </a>
         
      <nav>
         <ul class="nav-bar" style="list-style-type:none">
            <li>PC</li>
            <li>Celulares</li>
            <li>Audio</li>
            <li>Periféricos</li>
         </ul>  
      </nav>
         
      <form action="/" method="get" class="form">
         <input type="text" placeholder="Search.." id="search">
         <button class="botton" type="submit"><i class="fa fa-search"></i></button>
      </form>
         
      <a href="/productCart" id="shoping-car" class="links"><i class="fas fa-shopping-cart"></i></a>
      <a href="/login" id="shoping-car2" class="links"><i class="fas fa-user-circle"></i></a>
      <button class="burguer-menu" type="button">
         <i class="fas fa-bars"></i>
      </button> 
    </header>
    <main class="main-cart">


        <section class="product-container">
            <h1>PRODUCTOS EN EL CARRITO</h1>
            <div class="scroll">
                <div class="sell-detail">
                    <div class="img-container">
                        <a href="#"><img class="product-img" src="/img/descarga.jfif" alt=""></a>
                    </div>
                    <div class="description-container">
                        <h2 class="product-name">Descripcion Producto y muchas cosas mas</h2>
                    </div>
                    <div class="price-container">
                        <p class="price">$1,894.44</p>
                        <select class="amount" name="amount" id="amount">
                            <option value="cantidad">Cantidad +</option>
                            <option value="1">1 u.</option>
                            <option value="2">2 u.</option>
                            <option value="3">3 u.</option>
                            <option value="4">4 u.</option>
                            <option value="5">5 u.</option>
                        </select>
                    </div>
                    <div class="product-buttons">
                        <a class="delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                <div class="sell-detail">
                    <div class="img-container">
                        <a href="#"><img class="product-img" src="/img/descarga.jfif" alt=""></a>
                    </div>
                    <div class="description-container">
                        <h2 class="product-name">Descripcion Producto y muchas cosas mas</h2>
                    </div>
                    <div class="price-container">
                        <p class="price">$1,894.44</p>
                        <select class="amount" name="amount" id="amount">
                            <option value="cantidad">Cantidad +</option>
                            <option value="1">1 u.</option>
                            <option value="2">2 u.</option>
                            <option value="3">3 u.</option>
                            <option value="4">4 u.</option>
                            <option value="5">5 u.</option>
                        </select>
                    </div>
                    <div class="product-buttons">
                        <a class="delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                <div class="sell-detail">
                    <div class="img-container">
                        <a href="#"><img class="product-img" src="/img/descarga.jfif" alt=""></a>
                    </div>
                    <div class="description-container">
                        <h2 class="product-name">Descripcion Producto y muchas cosas mas</h2>
                    </div>
                    <div class="price-container">
                        <p class="price">$1,894.44</p>
                        <select class="amount" name="amount" id="amount">
                            <option value="cantidad">Cantidad +</option>
                            <option value="1">1 u.</option>
                            <option value="2">2 u.</option>
                            <option value="3">3 u.</option>
                            <option value="4">4 u.</option>
                            <option value="5">5 u.</option>
                        </select>
                    </div>
                    <div class="product-buttons">
                        <a class="delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                <div class="sell-detail">
                    <div class="img-container">
                        <a href="#"><img class="product-img" src="/img/descarga.jfif" alt=""></a>
                    </div>
                    <div class="description-container">
                        <h2 class="product-name">Descripcion Producto y muchas cosas mas</h2>
                    </div>
                    <div class="price-container">
                        <p class="price">$1,894.44</p>
                        <select class="amount" name="amount" id="amount">
                            <option value="cantidad">Cantidad +</option>
                            <option value="1">1 u.</option>
                            <option value="2">2 u.</option>
                            <option value="3">3 u.</option>
                            <option value="4">4 u.</option>
                            <option value="5">5 u.</option>
                        </select>
                    </div>
                    <div class="product-buttons">
                        <a class="delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                <div class="sell-detail">
                    <div class="img-container">
                        <a href="#"><img class="product-img" src="/img/descarga.jfif" alt=""></a>
                    </div>
                    <div class="description-container">
                        <h2 class="product-name">Descripcion Producto y muchas cosas mas</h2>
                    </div>
                    <div class="price-container">
                        <p class="price">$1,894.44</p>
                        <select class="amount" name="amount" id="amount">
                            <option value="cantidad">Cantidad +</option>
                            <option value="1">1 u.</option>
                            <option value="2">2 u.</option>
                            <option value="3">3 u.</option>
                            <option value="4">4 u.</option>
                            <option value="5">5 u.</option>
                        </select>
                    </div>
                    <div class="product-buttons">
                        <a class="delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                <div class="sell-detail">
                    <div class="img-container">
                        <a href="#"><img class="product-img" src="/img/descarga.jfif" alt=""></a>
                    </div>
                    <div class="description-container">
                        <h2 class="product-name">Descripcion Producto y muchas cosas mas</h2>
                    </div>
                    <div class="price-container">
                        <p class="price">$1,894.44</p>
                        <select class="amount" name="amount" id="amount">
                            <option value="cantidad">Cantidad +</option>
                            <option value="1">1 u.</option>
                            <option value="2">2 u.</option>
                            <option value="3">3 u.</option>
                            <option value="4">4 u.</option>
                            <option value="5">5 u.</option>
                        </select>
                    </div>
                    <div class="product-buttons">
                        <a class="delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>

        </section>

        <section class="sell-container">
            <h2 class="cart-title">MI CARRITO</h2>
            <div class="sell">
                <div class="number">
                    <p>Subtotal</p>
                    <p>1893.44</p>
                </div>
                <div class="number">
                    <p>Envio</p>
                    <p>1893.44</p>
                </div>
                <div class="number">
                    <h4>DESCUENTOS</h4>
                </div>
                <div class="number">
                    <p>Subtotal</p>
                    <p>1893.44</p>
                </div>
                <div class="number">
                    <p>Envio</p>
                    <p>1893.44</p>
                </div>
                <div class="number">
                    <p>TOTAL DESCUENTOS</p>
                    <p>1893.44</p>
                </div>
                <div class="number">
                    <p>TOTAL</p>
                    <p>1893.44</p>
                </div>
            </div>
            <div class="pay-container">
                <button class="button-pay">IR A PAGAR <i class="fa-solid fa-credit-card" id="money-card"></i></button>
            </div>
        </section>
    </main>
    <footer>
      <article>
         <h3>Sobre nosotros</h3>
      
         <ul>
            <li>Nuestra compañia</li>
            <li>Historia</li>
            <li>Ubicaciones</li>
            <li>Resultados financieros</li>
         </ul>
      </article>
         
      <article>
         <h3>Contacto</h3>
      
         <ul>
            <li>Trabaja con nosotros</li>
            <li>Sugerencias</li>
            <li>Quejas y reclamos</li>
         </ul>
      </article>
         
      <article>
         <h3>FAQs</h3>
      
         <ul>
            <li>Opciones de pago</li>
            <li>¿Qué pasa si no me llega un envío?</li>
            <li>¿Cómo funcionan las promociones?</li>
         </ul>
      </article>
         
      <article>
         <h3>Terminos y condiciones</h3>
      
         <ul>
            <li>¿Cómo cuidamos tu privacidad?</li>
            <li>Accesibilidad</li>
            <li>Documentos legales</li>
         </ul>
      </article>
      
      <article>
         <h3 id="title-social">Conecta con nosotros</h3>
         
         <ul class="social-contacts">
            <li>
               <a href="https://www.linkedin.com" class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
               </a>
            </li>
            <li>
               <a href="https://twitter.com" class="twitter">
                  <i class="fa-brands fa-twitter"></i>
               </a>
            </li>
            <li>
               <a href="https://www.instagram.com/" class="instagram">
                  <i class="fa-brands fa-instagram"></i>
               </a>
            </li>
            <li>
               <a href="https://www.facebook.com/" class="facebook">
                  <i class="fa-brands fa-facebook"></i>
               </a>
            </li>
         </ul>
      </article>
    </footer>
</body>

</html>