<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/productResultsStyles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">


</head>

<body>
    <header>
        header
    </header>

    <main>

        <div class="order-filter">

            <div class="order">
                <select class="ordenar">
                    <option>Ordenar</option>
                    <option>Mayor precio</option>
                    <option>Menor precio</option>
                </select>
                <span class="sort"><i class="fa-solid fa-sort "></i></span>
            </div>


            <div class="categories">
                <h3>Filtro</h3>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> pc</label>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> celulares</label>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> Perifericos</label>
            </div>
        </div>



        <div class="content">

            <h4 class="">Nuevo</h4>

            <div class="product">
                <div>
                    <img class="img" src="images/galaxy-flip-3.jpg" />
                    <div class="text">
                        <p class="name">Samsung Galaxy Z Flip 3</p>
                        <p class="price">$100.000</p>
                        <p class="discount">10%off</p>
                        <div class="options">
                            <a class="ver-más" href="/productDetail">Ver más</a>
                            <button type="submit" id="carrito">Agregar
                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div>
                    <img class="img" src="images/galaxy-flip-3.jpg" />
                    <div class="text">
                        <p class="name">Samsung Galaxy Z Flip 3</p>
                        <p class="price">$100.000</p>
                        <p class="discount">10%off</p>
                        <div class="options">
                            <a class="ver-más" href="/productDetail">Ver más</a>
                            <button type="submit" id="carrito">Agregar
                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="product">
                <div>
                    <img class="img" src="images/galaxy-flip-3.jpg" />
                    <div class="text">
                        <p class="name">Samsung Galaxy Z Flip 3</p>
                        <p class="price">$100.000</p>
                        <p class="discount">10%off</p>
                        <div class="options">
                            <a class="ver-más" href="/productDetail">Ver más</a>
                            <button type="submit" id="carrito">Agregar
                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div>
                    <img class="img" src="images/galaxy-flip-3.jpg" />
                    <div class="text">
                        <p class="name">Samsung Galaxy Z Flip 3</p>
                        <p class="price">$100.000</p>
                        <p class="discount">10%off</p>
                        <div class="options">
                            <a class="ver-más" href="/productDetail">Ver más</a>
                            <button type="submit" id="carrito">Agregar
                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        footer
    </footer>


</body>

</html>