<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="/css/header-footer.css">
   
    <link rel="stylesheet" href="/css/register.css">
    <title>Formulario Registro </title>
</head>

<body>
   <header id="myheader">
      <a href="/" class="logo-link">
         <img src="design/logo.png" alt="Logo AllTech" class="logo">
      </a>
         
      <nav>
         <ul class="nav-bar" style="list-style-type:none">
            <li>PC</li>
            <li>Celulares</li>
            <li>Audio</li>
            <li>Periféricos</li>
         </ul>  
      </nav>
         
      <form action="/" method="get" class="form">
         <input type="text" placeholder="Search.." id="search">
         <button class="botton" type="submit"><i class="fa fa-search"></i></button>
      </form>
         
      <a href="/productCart" id="shoping-car" class="links"><i class="fas fa-shopping-cart"></i></a>
      <a href="/login" id="shoping-car2" class="links"><i class="fas fa-user-circle"></i></a>
      <button class="burguer-menu" type="button">
         <i class="fas fa-bars"></i>
      </button> 
   </header>
    
    <form action="#" method="GET">
        <h4>FORMULARIO DE REGISTRO</h4>
        <label>Nombre:</label>
        <input class="CampoTexto" type="text" name="nombre" id="nombre" placeholder="Insertar Nombre">
        <label>Apellidos:</label>
        <input class="CampoTexto" type="text" name="apellido" id="nombre" placeholder="Insertar Apellido">
        <label>Correo:</label>
        <input class="CampoTexto" type="email" name="email" id="email" placeholder="Insertar Correo">
        <label>Contraseña:</label>
        <input class="CampoTexto" type="password" name="contraseña" id="contraseña" placeholder="Insertar Contraseña">
        <label>Confirma contraseña:</label>
        <input class="CampoTexto" type="password" name="contraseña" id="contraseña" placeholder="Repetir Contraseña">
        <p>
            <input type="checkbox" name="terminos" value="acepto">
            <a href="#">Aceptas terminos y condiciones</a>
        </p>
        <input class="Boton" type="submit" value="BIENVENIDO">

        <p>
            <a href="./login">¿Ya tienes cuenta?</a>
        </p>
    </form>

    <footer id="myfooter">
      <article>
         <h3>Sobre nosotros</h3>
      
         <ul>
            <li>Nuestra compañia</li>
            <li>Historia</li>
            <li>Ubicaciones</li>
            <li>Resultados financieros</li>
         </ul>
      </article>
         
      <article>
         <h3>Contacto</h3>
      
         <ul>
            <li>Trabaja con nosotros</li>
            <li>Sugerencias</li>
            <li>Quejas y reclamos</li>
         </ul>
      </article>
         
      <article>
         <h3>FAQs</h3>
      
         <ul>
            <li>Opciones de pago</li>
            <li>¿Qué pasa si no me llega un envío?</li>
            <li>¿Cómo funcionan las promociones?</li>
         </ul>
      </article>
         
      <article>
         <h3>Terminos y condiciones</h3>
      
         <ul>
            <li>¿Cómo cuidamos tu privacidad?</li>
            <li>Accesibilidad</li>
            <li>Documentos legales</li>
         </ul>
      </article>
      
      <article>
         <h3 id="title-social">Conecta con nosotros</h3>
         
         <ul class="social-contacts">
            <li>
               <a href="https://www.linkedin.com" class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
               </a>
            </li>
            <li>
               <a href="https://twitter.com" class="twitter">
                  <i class="fa-brands fa-twitter"></i>
               </a>
            </li>
            <li>
               <a href="https://www.instagram.com/" class="instagram">
                  <i class="fa-brands fa-instagram"></i>
               </a>
            </li>
            <li>
               <a href="https://www.facebook.com/" class="facebook">
                  <i class="fa-brands fa-facebook"></i>
               </a>
            </li>
         </ul>
      </article>
   </footer>
   
</body>

</html>