:root {
    --grisFondo: #2f2f2f;
    --blanco: #D9D9D9;
    --detail: #FAF34C;
}
* {
    box-sizing: border-box;
}

body {
    background: var(--grisFondo);
    margin: 0;
    padding: 0%;
}

.search {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}
.titles {
    width: 55%;
    background: var(--detail);
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid var(--blanco);
    font-family: 'calibri';
    font-size: 15px;
    text-align: center;
    color: var(--grisFondo);
}
.form-item {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
}
.item {
    border: 1px solid var(--grisFondo);
    border-radius: 50px;
    width: 150px;
    height: 23px;
    color: var(--grisFondo);
    background-color: var(--blanco);
    text-align: center;
    transition: all 0.5s;
}
.item:hover {
    background-color: var(--detail);
    color: var(--grisFondo);
    box-shadow: 7px 13px 37px black ;
}

@media (max-width: 480px) {
    .search {
        display: block;
        align-items: center;
    }
    .form-item {
        display: block;
        margin: auto;
    }
}