* {
   margin: 0;
   box-sizing: border-box;
}
header {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: #FFFFFF;
   padding: 10px;
}
nav {
   width: 80%;
}
header a {
   color: #FFFFFF;
   margin-left: 10px;
   margin-right: 10%;
}

.nav-bar {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   font-size: 1rem;
   width: 100%;
}
.logo {
   max-width: 15%;
}
.form {
   max-width: 48%;
   position: relative;
   margin-left: 5%;
}
.botton {
   position: absolute;
   margin: auto;
   background-color: #FFFFFF;
   color: #919191;
}
.botton:hover {
   background-color: #c6c6c6;
   color: black;
}

#shoping-car {
   margin-left: auto;
   margin-right: 20px;
}

footer {
   background-color: black;
   margin: 0;
   color: #FFFFFF;
   padding: 10px;   
   font-size: .9rem;
   text-align: center;
}
footer article {
   margin-top: 20px;
}
footer article div {
   font-size: 0.4rem;
}

@media (min-width:779px) {
   nav {
      width: auto;
   }
   nav ul li {
      padding: 10px;
   }
   footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }
   footer article {
      width: 32%;
   }
   header a {
      margin-right: 25px;
   }
   .form {
      margin-left: auto;
      margin-right: 25px;
   }
   #shoping-car {
      margin-left: 25px;
   }
}

@media (min-width:1200px) {
   .logo {
      max-width: 140px;
      margin-left: 20%;
   }
   #shoping-car2 {
      margin-right: 20%;
   }
}