:root {
    --grisFondo: #2f2f2f;
    --blanco:#D9D9D9;
    --detail: #FAF34C;
 }

* {
    box-sizing: border-box;
}

body {
    background: var(--grisFondo);
}

.login {
    width: 400px;
    height: 405px;
    background: var(--blanco);
    margin: 2rem auto;
    padding: 20px 30px;
    color: var(--grisFondo);
    font-family: 'calibri';
    transition: all 0.5s;
}

.login:hover {
    box-shadow: 7px 13px 37px #000;
    border-radius: 50px;
}

h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-family: 'calibri';
    font-size: 20px;
}

.CampoTexto {
    width: 100%;
    background: var(--grisFondo);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 15px;
    text-align: center;
    color: var(--blanco);
}

.Boton {
    width: 100%;
    background: #faf34c;
    font-family: 'calibri';
    font-size: 15px;
    color: black;
    padding: 8px;
    margin: 16px 0;
}

.Olvido {
    text-align: center;
    border-top: 1px solid;
}

.Registro {
    text-align: center;
}

a {
    color: var(--grisFondo);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-size: 14px;
}

@media (max-width: 480px) {
    form {
        width: 70%;
        margin-bottom: 10px;
        box-shadow: none;
        border-radius: 50px;
    }
    a{
        color: #000;
    }
}

@media (min-width: 481px) {
    .login{
        margin: 180px auto;
    }
}