:root {
    --grisFondo: #2f2f2f;
    --blanco:#D9D9D9;
    --detail: #FAF34C;
 }
*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    width: 95%;
    background-color: #2f2f2f;
    margin: auto;
    color: white
}
.order-filter{
    flex-direction: row;
}
.order{
    font-size: 16px;
    display: block;
    margin: 2px;
    padding: 2px;
    appearance: none;
    text-align: center;
    size-adjust: 50px;
    position:relative;
}
.ordenar{
    appearance: none;
    font-size: 20px;
    color:white;
    border: none;
    background-color: blue;
    border-radius: 4px;
    text-align: center;
    height: 50px;
    width: 100%;
    font-weight: 600;
}

.categories{
    font-size: 16px;
    display: block;
    margin: 2px;
    padding: 2px;
    appearance: none;
    text-align: center;
    
}
/* PRODUCTO Y TEXTO*/
.img{
    width: 100%;
    flex-wrap: wrap;
   
}
.product{
flex-direction: row;
display: block;
position: relative;
background-color: #D9D9D9;
margin-bottom: 2px;
padding: 5px;
}
.product div{
    display:flex;
    flex-wrap: wrap;
    
}

.text{
    display: inline;
    flex-direction: column;
    float: right;
    width: 100%;
    color:#2f2f2f;
    line-height: 2px;

}

.name{
    font-size: 15px;
    color: #2f2f2f;
}

.price{
text-align: left;
}

.discount{
    color: blue;
}

#ver-mas{
    margin: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    border-color: gray;
    background-color: #faf34c;
}

#carrito{
    border-radius: 5px;
    appearance: none;
    background-color:  #333;
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    
   
}
.ver-más{
  border-radius: 5px;
  padding: 5px 5px;
  text-decoration: none;
  color: #2f2f2f;
  background-color: #faf34c;
  margin-top: 2px;
  font-size: 17px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.options{
    flex: auto;
    flex-direction: row;
    justify-content: space-evenly;
}
/*/////////////////iconos/////////////////*/
.sort{
    position: absolute;
  display: block;
  bottom: .5rem;
  right: 1rem;
  margin: 9px;
  text-align: center;

}

/*///////media queries//////////*/
@media (min-width: 700px){
 .product{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }
 .content{
flex-wrap: wrap;
display: flex;
flex-direction: row;
 }
 
}
@media (min-width: 1280px){

    
}
