*{
    box-sizing: border-box;
}

html{
    text-rendering:optimizeLegibility;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e9e6e6;
    display: flex;
    flex-direction: column;
    color:black;
    /*border: 2px red solid;*/
}
/* SECCION Foto principal y Fotos Secundarias */

.img-air{
    /*border: 3px green solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.featured{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px;
    /*border: 2px red solid;*/
}

.featured img{
    width: 100%;
   border: black 1px solid;
}

.prueba {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.more{
    /*border: 2px purple solid;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
   /*border: purple 2px solid;*/
}


.item{
    width: 20%;
    margin: 2px 5px;
}

.more img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border: 1px black solid;
}

/* Seccion  */

.meta{
    background-color: white;
    margin: 1px 0;
}

h1{
    color: #000;
    font-size: 26px;
    margin: 0 0 10px;
}

.puntuacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    width: 100px;
    color: black;
    /*border: black 1px solid;*/
    margin:10px 0;
}

.price-main{
    font-weight: 900;
    margin: 0 0 20px;
    font-size: 26px;
}

.price-mp{
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px;
}

.shipping{
    margin: 0 0 20px;
    font-size: 14px;
    text-align: left;
}

.tag.tag-stock {
	color: #089900;
	background-color: #95ff9f;
    font-size: 10px;
    font-weight: lighter;
    padding: 5px 8px;
    border-radius: 4px;
}

.tag{
    margin: 0 0 20px;
}

.qty{
    display: block;
    width: 50%;
}
.qty-item{
    display: block;
    width: 30%;
}

.final-buy{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 0;*/
    display: block;
    margin: 0px 0;
}

.descripcion-producto{
    background-color: white;
    margin: 1px 0;
}

.product{
    margin-bottom: 0px;
}