:root {
    --grisFondo: #2f2f2f;
    --blanco: #D9D9D9;
    --detail: #FAF34C;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--grisFondo)
}

form {
    width: 400px;
    background-color: var(--blanco);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'calibri';
    color: var(--grisFondo);
    transition: all 0.5s;

}

form:hover {
    box-shadow: 7px 13px 37px black ;
    border-radius: 50px;
}

h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.CampoTexto {
    width: 100%;
    background: var(--grisFondo);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 15px;
    text-align: center;
    color: var(--blanco);
}

p {
    height: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}

a {
    color: var(--grisFondo);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--grisFondo)
}

.Boton {
    width: 100%;
    background: #FAF34C;
    font-family: 'calibri';
    font-size: 15px;
    color: black;
    padding: 8px;
    margin: 16px 0;
}

.Terminos {
    height: 50px;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
    justify-self: center;
}

@media (max-width: 480px) {
    form {
        width: 75%;
        margin-top: 35px;
        box-shadow: none;
        border-radius: 50px;
    }
    a {
        color: var(--grisFondo);
    }
}