:root {
   --grisFondo: #2f2f2f;
   --blanco: #D9D9D9;
   --detail: #FAF34C;
   --white-color: #FFFFFF;
   --gray3-color: #303030;
   --gray2-color: #919191;
   --gray1-color: #c6c6c6;
}

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: 'Noto Sans', sans-serif;
}

body {
   background-color: var(--grisFondo);
}

/** header **/

header {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   color: var(--white-color);
   padding: 10px;
}

.links {
   color: var(--white-color);
   margin-right: 10px;
}

.nav-bar {
   display: none;
}

.nav-bar a {
   text-decoration: none;
   color: var(--blanco);
}

.logo {
   max-width: 100%;
}

.logo-link {
   max-width: 25%;
}

.form {
   max-width: 48%;
   position: relative;
   margin-left: 5%;
}

.botton {
   position: absolute;
   height: 90%;
   top: 1px;
   right: 0px;
   margin: auto;
   background-color: var(--white-color);
   color: var(--gray2-color);
}

.botton:hover {
   background-color: var(--gray1-color);
   color: black;
}

.burguer-menu {
   background-color: white;
   width: 25px;
   height: 25px;
   border-radius: 5px;
   font-size: 15px;
   color: var(--gray3-color);
   margin-right: 20px;
}

#shoping-car {
   margin-left: auto;
   margin-right: 20px;
}

#shoping-car2 {
   display: none;
}

/** footer **/

footer {
   background-color: black;
   margin: 0;
   color: var(--white-color);
   padding: 10px;
   text-align: center;
   font-size: 12px;
}

footer article {
   margin-top: 20px;
   line-height: 20px;
}

footer article h3 {
   text-align: center;
}

footer article ul {
   list-style-type: none;
   text-align: center;
   padding: 0;
}

.social-contacts {
   display: inline-block;
   max-width: 50%;
   font-size: 1rem;
}

.social-contacts li {
   padding: 10px;
}

.linkedin {
   color: #0A66C2;
}

.facebook {
   color: #1877F2;
}

.instagram {
   color: #E4405F
}

.twitter {
   color: #1DA1F2;
}

#title-social {
   text-align: center;
}

/** index **/

main {
   background-color: var(--grisFondo);
   padding: 0px 0px 1rem;
}

main a {
   text-decoration: none;
   color: var(--grisFondo);
}

.carrousel {
   display: flex;
   width: 100%;
   margin: auto;
   flex-direction: row;
   overflow-x: auto;
   display: flex;
   overflow-x: auto;
}

.carrousel div {
   width: 100%;
   position: relative;
}

.carrousel div .bannerDescription {
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 2rem;
   padding: 1rem;
   width: 40%;
   color: var(--blanco);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   top: 40%;
   right: 0%;
   margin-left: -75px;
   margin-top: -1.5rem;
   margin-right: 2rem;
   text-align: end;
}

.carrousel div .bannerDescription h4 {
   font-weight: 500;
   text-align: center;
   font-size: 1rem;
}

.carrousel div .bannerDescription p {
   display: none;
   font-size: 1rem;
   margin: auto;
}

.carrousel div img {
   max-width: 100vw;
   box-shadow: inset -360px 0px 250px 70px rgba(0, 0, 0, 1);
}

.carrousel div button {
   display: none;
   position: absolute;
   top: 50%;
   right: 15%;
   width: 150px;
   height: 3rem;
   padding: auto;
   font-size: 1rem;
   text-align: center;
   background-color: var(--grisFondo);
   color: var(--blanco);
   border: 1px solid #2f2f2f;
   border-radius: 1rem;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   transition: all 250ms;
}

.carrousel div button:hover {
   background-color: var(--detail);
   color: var(--grisFondo);
   transform: scale(1.3);
}

.ads {
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

.ads .ad {
   background-color: var(--blanco);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: 0.5rem auto;
   border-radius: 20px;
   overflow: hidden;
}

.ads .ad p {
   width: 45%;
   text-align: center;
   margin: auto;
}

.ads .ad img {
   width: 50%;
}

.explore {
   width: 90%;
   margin: 1rem auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.explore h3 {
   color: var(--blanco);
   font-size: 1.5rem;
   font-weight: 400;
   margin: 1rem;
   text-align: center;
}

.categories {
   width: 100%;
   background-color: var(--blanco);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.25);
   border: 1px solid var(--blanco);
   border-radius: 20px;
}

.explore .categories .category {
   position: relative;
   width: 100%;
}

.categories article a {
   margin: 1rem auto;
   background-color: var(--grisFondo);
   border: 1px solid var(--grisFondo);
   width: 100%;
   max-width: 250px;
   height: 250px;
   border-radius: 20px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   transition: all 250ms;
}

.categories article a:hover {
   transform: scale(1.05);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.explore article img {
   width: 90%;
}

.explore article p {
   color: var(--blanco);
   width: 100px;
   text-align: center;
}

.suscribe {
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.suscribe h3 {
   color: var(--blanco);
   font-size: 1rem;
   font-weight: 400;
   margin: 1rem;
   text-align: center;
}

.suscribe form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 80%;
   margin: auto;
}

.suscribe form input {
   width: 100%;
   background-color: var(--blanco);
   border: #2f2f2f 1px solid;
   padding: 0.5rem;
}

.suscribe form input:focus {
   border: #2f2f2f 1px solid;
}

.suscribe form button {
   text-align: center;
   width: 100%;
   background-color: var(--detail);
   border: solid 1px var(--grisFondo);
   padding: 0.5rem;
   transition: all 250ms;
}

.suscribe form button:hover {
   background-color: green;
   color: var(--blanco);
}

/** user/login **/

.login {
   width: 400px;
   height: 405px;
   background: var(--blanco);
   margin: 2rem auto;
   padding: 20px 30px;
   color: var(--grisFondo);
   font-family: 'calibri';
   transition: all 0.5s;
}

.login:hover {
   box-shadow: 7px 13px 37px #000;
   border-radius: 50px;
}

.login h5 {
   margin: 0;
   text-align: center;
   height: 40px;
   margin-bottom: 30px;
   border-bottom: 1px solid;
   font-family: 'calibri';
   font-size: 20px;
}

.CampoTexto {
   width: 100%;
   background: var(--grisFondo);
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 6px;
   border: 1px solid #ffffff;
   font-family: 'calibri';
   font-size: 15px;
   text-align: center;
   color: var(--blanco);
}

.Boton {
   width: 100%;
   background: #faf34c;
   font-family: 'calibri';
   font-size: 15px;
   color: black;
   border: 1px black solid;
   padding: 8px;
   margin: 16px 0;
}

.Olvido {
   text-align: center;
   border-top: 1px solid;
}

.Registro {
   text-align: center;
}

.login a {
   color: var(--grisFondo);
   text-decoration: none;
   font-size: 14px;
}

.login a:hover {
   color: black;
   text-decoration: underline;
   font-size: 14px;
}

/** /user/register **/

.form-register {
   width: 400px;
   background-color: var(--blanco);
   padding: 30px;
   margin: auto;
   margin-top: 50px;
   font-family: 'calibri';
   color: var(--grisFondo);
   transition: all 0.5s;

}

.form-register:hover {
   box-shadow: 7px 13px 37px black;
   border-radius: 50px;
}

.form-register h4 {
   font-size: 22px;
   margin-bottom: 20px;
   text-align: center;
}

.form-register .CampoTexto {
   width: 100%;
   background: var(--grisFondo);
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 6px;
   border: 1px solid #ffffff;
   font-family: 'calibri';
   font-size: 15px;
   text-align: center;
   color: var(--blanco);
}

.form-register p {
   text-align: center;
   font-size: 15px;
   line-height: 50px;
}

.form-register a {
   color: var(--grisFondo);
   text-decoration: none;
}

.form-register a:hover {
   text-decoration: underline;
   color: var(--grisFondo)
}

.form-register .Boton {
   width: 100%;
   background: #FAF34C;
   font-family: 'calibri';
   font-size: 15px;
   color: black;
   padding: 8px;
   margin: 16px 0;
}

.form-register .Terminos {
   height: 50px;
   text-align: center;
   font-size: 15px;
   line-height: 50px;
   justify-self: center;
}

/** productCart **/

.main-cart {
   width: 90%;
   margin: 2rem auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #404040;
   border-radius: 2rem;
}

.product-container {
   margin-top: 10px;
}

.product-container h1 {
   color: var(--blanco);
   font-size: 1.5rem;
   font-weight: 400;
   margin: 1rem;
   text-align: center;
}

.product-container .sell-detail {
   display: flex;
   background-color: #9ba4c9;
   justify-content: space-between;
   margin-left: 15px;
   margin-right: 15px;
   border-radius: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
   max-width: 600px;
   height: 125px;
}

.product-container .sell-detail .img-container {
   width: 35%;
}

.product-container .sell-detail .img-container .product-img {
   height: 90%;
   width: 90%;
   padding-top: 10px;
   padding-left: 10px;
}

.product-container .sell-detail .description-container {
   background-color: white;
   width: 25%;
   border-radius: 5px;
   margin: 10px;

}

.product-container .sell-detail .description-container .product-name {
   font-size: 18px;
   height: 60%;
}

.price-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   justify-content: space-around;
}

.price-container .price {
   font-size: 24px;
   font-weight: 600;
   margin: 0px;
}

.price-container .amount {
   width: 70%;
   height: 30px;
   border-radius: 5px;
   background-color: #404040;
   color: white;
   text-align: center;
   border: solid 1px grey;
   box-shadow: 0px 0px 10px rgb(100, 100, 100)
}

.discount {
   margin: 0px;
}

.product-container .sell-detail .product-buttons {
   border-top: solid 1px #ebebeb;
   display: flex;
   justify-content: space-between;
   position: relative;
}

.product-container .sell-detail .product-buttons a {
   text-decoration: none;
}

.product-container .sell-detail .product-buttons .delete {
   position: absolute;
   left: -20px;
   color: darkred;
   overflow: hidden;
}

.sell-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 15px;
   max-width: 450px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 10px;
   background-color: #9ba4c9;
}

.sale-ship {
   display: flex;
   justify-content: space-between;
}

.sell-container button {
   margin: auto;
}

.sell-container .cart-title {
   text-align: center;
}

.sell-container .sell .number {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

.sell-container .sell {
   padding: 10px;

}

.sell-container .pay-container {
   width: 100%;
   margin-left: 20px;
}

.sell-container .pay-container .button-pay {
   width: 90%;
   margin: auto;
   background-color: #404040;
   border-radius: 10px;
   height: 40px;
   color: white;
}

#money-card {
   margin-left: 5px;
   color: yellow;
}

/** product cart correcion **/

.main-cart{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px;}

.main-container-cart{
   display: flex;
   flex-flow: column;
   align-items: center;
}

.product-cart-list, .product-cart-priceDetail{
   display: flex;
   flex-wrap: wrap;
   flex-flow: column;
}

.product-cart-list{
   margin: 4%;
   background-color: var(--blanco);
   border-radius: 25px;
   padding: 10px;
}

.product-cart-title{
   margin: 5px auto;
   color: var(--blanco)
}

.product-cart-item{
   display: flex;
   flex-wrap: wrap;
   flex-flow: row;
   justify-content: space-between;
   width: 100%;
   background-color: var(--gray1-color);
   border-radius: 10px;
   padding-top: 4px;
   padding-left: 4px;
   padding-bottom: 2px;
   padding-right: 4px;
   margin: 5px auto
}

.item-image, .item-detail{
   width: 30%;
}

.item-priceContainer{
   width: 28%;
}

.item-button-delete{
   width: 5%;
}

.product-img{
   max-width: 120px;
   border-radius: 10px;
}

.item-detail, .item-priceContainer {
   text-align: center;
}

.item-priceContainer{
   display: flex;
   flex-wrap: wrap;
   flex-flow: column;
   justify-content: space-between;
}

.item-description{
   display: none;
}


.product-cart-priceDetail{
   width: 90%;
   margin: auto;
   background:  var(--gray1-color);
   border-radius: 10px;
   padding: 10px 0px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin: 0 4%;
}

 .price-subtotal, .price-shipping, .price-subtotal, .price-discount, .price-total{
   display: flex;
   flex-wrap: nowrap;
   flex-flow: row;
   justify-content: space-between;
   width:100%;
   padding: 0px 5px;
   margin: 5px 0px;
}
.price-discounts-title, .price-title, .price-pay-button{
   display: flex;
   flex-wrap: nowrap;
   flex-flow: row;
   justify-content: center;
}

.product-cart-title, .price-discounts-title, .price-title{
   color:#000;
   font-weight: 600;
}

#money-card{
   color: var(--gray3-color)
}

.fa-trash-can{
   color: #850f29;
}


   .button-28 {
      appearance: none;
      background-color: transparent;
      border: 2px solid black;
      border-radius: 15px;
      box-sizing: border-box;
      color: #3B3B3B;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 50%;
      will-change: transform;
    }
    

/** product/detail/ **/

.main-container {
   font-family: "Roboto", sans-serif;
   /*background-color: #222;*/
   background-color: var(--grisFondo);
   display: flex;
   flex-direction: column;
   color: black;
   margin: auto;
   width: 90vw;
   transition: 0.5s all;
}

.main-container .product {
   margin-bottom: 1px;
}

.main-container .product .img-air {
   /*border: 3px green solid;*/
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.main-container .product .img-air .featured {
   display: flex;
   justify-content: center;
   background-color: #3b3b3b;
   color: var(--blanco);
   margin-bottom: 2px;
   padding: 5px;
   /*border: 2px red solid;*/
}

.main-container .product .img-air .featured img {
   width: 100%;
   border: black 1px solid;
}

.main-container .product .img-air .more {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 2px;
   background-color: #3b3b3b;
   color: var(--blanco);
}

.main-container .product .img-air .more .item {
   width: 20%;
   margin: 2px 5px;
}

.main-container .product .img-air .more .item img {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
   border: 1px black solid;
}

.main-container .meta {
   background-color: #3b3b3b;
   color: var(--blanco);
   margin: 0 0 1px 0;
   padding: 5px 10px;
}

.main-container .meta h1 {
   color: var(--blanco);
   font-size: 26px;
   margin: 10px 0 10px;
}

.main-container .meta .puntuacion {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   align-items: flex-start;
   width: 100%;
   color: #bdbdbd;
   margin: 10px 0 10px 0;
}

.main-container .meta .price-main,
.main-container .meta .price-main-cuotas {
   font-weight: 900;
   margin: 20px 0 20px;
}

.main-container .meta .price-main {
   text-align: left;
   font-size: 21px;
}

.main-container .meta .price-main-cuotas {
   text-align: center;
   font-size: 22px;
}

.main-container .meta .price-mp {
   align-items: center;
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   font-weight: 400;
   margin: 20px 0 20px;
}

.main-container .meta .price-mp img {
   display: flex;
   flex-wrap: w;
   width: 20%;
   background-color: white;
   padding: 1px;
}

.main-container .meta .shipping {
   margin: 20px 0 20px;
   font-size: 14px;
   text-align: center;
}

.main-container .meta .tag {
   display: flex;
   justify-content: center;
   margin: 10px 0 10px;
}

.main-container .meta form .qty {
   margin: 10px auto 10px;
   display: flex;
   flex-flow: column;
}

.main-container .meta form .qty .qty-text {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

.main-container .meta form .qty .qty-item {
   display: flex;
   flex-wrap: wrap;
   margin: 5px auto 5px auto;
   width: 11%;
   text-align: center;
}

.main-container .meta .final-buy {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 5px auto 5px;
}

.main-container .meta .final-buy .item-final-1,
.main-container .meta .final-buy .item-final-2 {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.main-container .meta .final-buy .item-final-1 button,
.main-container .meta .final-buy .item-final-2 button {
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 5px 0;
   background-color: black;
   color: var(--blanco);
}

.main-container .meta .final-buy div .button-buy {
   appearance: none;
   background-color: black;
   border: 1px solid #000000;
   color: var(--blanco);
   border-radius: 15px;
   box-sizing: border-box;
   display: inline-block;
   font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
   font-weight: 600;
   outline: none;
   padding: 16px 24px;
   text-align: center;
   user-select: none;
   -webkit-user-select: none;
   width: 100%;
}

.main-container .meta .final-buy .item-final-1 {
   padding: 10px 0 5px 0;
}

.main-container .meta .final-buy .item-final-2 {
   padding: 5px 0 10px 0;
}

.main-container .meta .final-buy .item-final-1,
.main-container .meta .final-buy .item-final-2 {
   width: 60%;
   height: 58px;
}

.main-container .meta .final-buy div .button-buy .btn-outline {
   margin: auto;
}

.main-container .descripcion-producto {
   background-color: #3b3b3b;
   color: var(--blanco);
   margin: 1px 0;
   padding: 5px 10px;
}

.main-container .descripcion-producto h2 {
   font-size: 24px;
}

.main-container .descripcion-producto p {
   font-size: 15px;
}

.main-container .descripcion-producto .ul-description {
   margin-left: 25px;
   margin-bottom: 10px;
}

/** /products **/

.order-filter {
   margin: 1rem auto;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
}

.order-filter .order {
   width: 100%;
   font-size: 16px;
   display: block;
   margin: 2px;
   padding: 2px;
   appearance: none;
   text-align: center;
   size-adjust: 50px;
   position: relative;
}

.order-filter .ordenar {
   appearance: none;
   font-size: 20px;
   color: var(--grisFondo);
   border: none;
   background-color: #FAF34C;
   border-radius: 4px;
   text-align: center;
   height: 50px;
   width: 100%;
   font-weight: 600;
}

.order-filter .categories {
   width: 100%;
   font-size: 16px;
   display: block;
   margin: 2px;
   padding: 2px;
   appearance: none;
   text-align: center;
}

.productList {
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.content .img {
   width: 100%;
   flex-wrap: wrap;

}

.content .product {
   flex-direction: row;
   display: block;
   position: relative;
   background-color: #D9D9D9;
   margin-bottom: 2px;
   padding: 5px;
   width: 90%;
}

.content .product div {
   display: flex;
   flex-wrap: wrap;

}

.content .text {
   display: inline;
   flex-direction: column;
   float: right;
   width: 100%;
   color: #2f2f2f;

}

.content .product .name {
   font-size: 15px;
   color: #2f2f2f;
}

.content .text .price {
   text-align: left;
}

.content .text.discount {
   color: blue;
}

.content .text .options .ver-mas {
   margin: 5px;
   margin-bottom: 3px;
   border-radius: 5px;
   border-color: gray;
   background-color: #faf34c;
}

.content .text .options #carrito {
   border-radius: 5px;
   appearance: none;
   background-color: #333;
   text-decoration: none;
   color: white;
   padding: 5px 5px;


}

.content .text .options .ver-más {
   border-radius: 5px;
   padding: 5px 5px;
   text-decoration: none;
   color: #2f2f2f;
   background-color: #faf34c;
   margin-top: 2px;
   font-size: 17px;
   justify-content: center;
   display: flex;
   flex-direction: column;
}

.content .text .options {
   flex: auto;
   flex-direction: row;
   justify-content: space-evenly;
}

.content .order-filter .sort {
   position: absolute;
   display: block;
   bottom: .5rem;
   right: 1rem;
   margin: 9px;
   text-align: center;

}

/** CRUD **/

/*.form-crud {
   background-color: var(--blanco);
   width: 80%;
   margin: 1rem auto;
   border-radius: 20px;
}

.form-crud .crud-info {
   color: var(--grisFondo);
   margin: auto;
   display: flex;
   flex-direction: column;
   min-height: 40vh;
   align-items: center;
   justify-content: space-around;
}

.form-crud .crud-info div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.form-crud .titles {
   width: 55%;
   background: var(--detail);
   padding: 10px;
   margin: auto;
   border-radius: 5px;
   margin-bottom: 6px;
   border: 1px solid var(--blanco);
   font-family: 'calibri';
   font-size: 15px;
   text-align: center;
   color: var(--grisFondo);
}

.form-crud .form-item {
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-bottom: 82px;
}

.form-crud .item {
   margin: 1rem auto;
   width: 90%;
   border: 1px solid var(--grisFondo);
   border-radius: 50px;
   height: 23px;
   color: var(--grisFondo);
   background-color: var(--blanco);
   text-align: center;
   transition: all 0.5s;
}

.form-crud .item:hover {
   background-color: var(--detail);
   color: var(--grisFondo);
   box-shadow: 7px 13px 37px black;
}
*/

/** crud correccion**/
.container{
   max-width: 700px;
   width: 90%;
   background-color: #fff;
   padding: 25px 30px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   margin: 10px auto
 }
 .container .title{
   font-size: 25px;
   font-weight: 500;
   position: relative;
 }
 .content form .product-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 20px 0 12px 0;
 }
 form .product-details .input-box{
   margin-bottom: 15px;
   width: 100% /*calc(100% / 2 - 20px);*/
 }
 form .input-box span.details{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
 }
 .product-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   font-size: 16px;
   border-radius: 5px;
   padding-left: 15px;
   border: 1px solid #ccc;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
 }
 .product-details .input-box input:focus,
 .product-details .input-box input:valid{
   border-color: var(--gray3-color);
 }

  form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }

  .select-category{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
     
  }

  .select-category select{
   padding: 10px 0px
  }

  form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

 form .button input{
   height: 100%;
   width: 100%;
  
 }

.text-description{
    display: flex;
   flex-flow: column;
}

.button-crud-holder{
   text-align: center
}

.button-crud{
   margin: 10px auto;
   width: 40%;
   padding: 10px 0px;
}

@media (max-width: 480px) {

   /** /user/login CAMBIAR A MOBILE FIRST **/

   .login {
      width: 70%;
      margin-bottom: 10px;
      box-shadow: none;
      border-radius: 50px;
   }

   .login a {
      color: #000;
   }

   /** /user/register/ **/

   .form-register {
      width: 75%;
      margin-top: 35px;
      box-shadow: none;
      border-radius: 50px;
   }

   .form-register a {
      color: var(--grisFondo);
   }

}

@media (min-width:481px) {

   /** index **/

   .explore .categories .category {
      width: 45%;
   }

   .suscribe form input {
      width: 70%;
   }

   .suscribe form button {
      width: 30%;
   }

   /** /user/login **/

   .login {
      margin: 180px auto;
   }

   /** /user/register **/

   .form-register {
      margin: 100px auto;
   }

   /** productCart **/

   .main-cart {
      align-items: center;
   }

   .main-cart, .sell-detail, .sell-container{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
         rgba(0, 0, 0, 0.23) 0px 3px 6px;
   }

   .sell-container {
      min-width: 450px;
      min-height: 350px;
   }

   /** productCart correccion **/

   .main-container-cart{
      width: 90%;
   }

   .product-cart-list{
      width: 90%;
   }

   /** product/detail/:id? **/

   .main-container .meta form .qty .qty-item {
      width: 5%;
   }
}



@media (min-width:769px) {

   /** header **/

   header a {
      margin-right: 25px;
   }

   nav {
      width: auto;
   }

   nav ul li {
      padding: 10px;
   }

   .nav-bar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      font-size: 1rem;
      width: 100%;
   }

   .burguer-menu {
      display: none;
   }

   .form {
      margin-left: auto;
      margin-right: 25px;
   }

   .logo-link {
      max-width: 15%;
   }

   #shoping-car {
      margin-left: 25px;
   }

   #shoping-car2 {
      display: inline-block;
   }

   /** footer **/

   footer {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
   }

   footer article {
      width: 17%;
      margin: 1.5%
   }

   footer article h3 {
      text-align: start;
   }

   footer article ul {
      text-align: start;
      width: 70%;
      margin: auto;
   }

   .social-contacts {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   /** index **/

   .carrousel div .bannerDescription {
      top: 20%
   }

   .carrousel div .bannerDescription p {
      display: block;
   }

   .carrousel div button {
      display: block;
   }

   .ads .ad {
      width: 45%;
   }

   .explore .categories .category {
      width: 30%;
   }

   /** productCart **/

   .product-container h1 {
      text-align: center;

   }

   .main-cart {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }

   .scroll {
      overflow-y: scroll;
      height: 100%;
   }

   .product-container {
      height: 70%;
      margin: 4rem 0px;
   }

   .sell-container {
      width: 30%;
      min-width: 300px;
      max-width: 600px;
      max-height: 300px;
   }

   /** productCart Correccion **/ 

   .main-container-cart{
      flex-flow: row;
   }


   .product-cart-list{
      background-color: var(--blanco);
      border-radius: 10px;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;}
   }


   .product-cart-priceDetail {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
   }

   .product-cart-item{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
   }

   .product-cart-priceDetail{
      padding: 10px 20px;
   }

    .button-28:disabled {
      pointer-events: none;
    }
    
    .button-28:hover {
      color: #fff;
      background-color: black;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    #money-card:hover{
      color:white
    }
    
    .button-28:active {
      box-shadow: none;
      transform: translateY(0);
    }

   /** product/detail/:id? **/
   .main-container {
      width: 80vw;
      margin: 20px auto;
      transition: 0.5s all;
   }

   .main-container .box-superior {
      display: flex;
      justify-content: space-between;
   }

   .main-container .product {
      display: flex;
      flex-wrap: wrap;
      width: 55%;
      padding: 14px;
      margin-right: 1px;
      background-color: #3b3b3b;
      color: var(--blanco);
   }

   .main-container .more {
      margin-bottom: 0;
   }

   .main-container .meta {
      width: 45%;
      margin-left: 1px;
      padding: 5px 10px;
      display: flex;
      flex-flow: column;
      justify-content: inherit;
      align-items: normal;
   }

   .main-container .puntuacion a {
      font-size: 25px;
   }

   .main-container .qty-item {
      width: 20%;
   }

   .main-container .final-buy {
      flex-wrap: nowrap;
      width: 100%;
   }

   .main-container .item-final-1,
   .main-container .item-final-2 {
      padding: 5px;
   }

   .main-container .item-final-1 button,
   .main-container .item-final-2 button {
      width: 80%;
   }

   .main-container .descripcion-producto {
      width: 100%;
   }

   .main-container {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
         rgba(0, 0, 0, 0.23) 0px 3px 6px;
   }

   .main-container .item,
   .main-container .img-air img {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
         rgba(0, 0, 0, 0.23) 0px 3px 6px;
   }

   .main-container .featured {
      transition: 0.2s;
   }

   .main-container .featured:hover {
      transform: scale(1.2);
      transition: 0.2s;
   }

   .main-container .item {
      transition: 0.2s;
   }

   .main-container .item:hover {
      transform: scale(1.5);
      transition: 0.2s;
   }

   .main-container .puntuacion {
      direction: rtl;
   }

   .main-container .puntuacion a {
      transition: 0.5s all;
      color: #bdbdbd;
   }

   .main-container .puntuacion a:hover {
      color: #faf34c;
   }

   .main-container .b1:hover~a {
      color: #faf34c;
   }

   .main-container .b2:hover~a {
      color: #faf34c;
   }

   .main-container .b3:hover~a {
      color: #faf34c;
   }

   .main-container .b4:hover~a {
      color: #faf34c;
   }

   .main-container .b5:hover~a {
      color: #faf34c;
   }

   .main-container .item-final-1 button,
   .main-container .item-final-2 button {
      background-color: black;
      color: #ebebeb;
   }

   .main-container .button-buy {
      appearance: none;
      background-color: transparent;
      border: 1px solid #000000;
      box-sizing: border-box;
      color: #3b3b3b;
      cursor: pointer;
      display: inline-block;
      font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
         "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
      will-change: transform;
   }

   .main-container .button-buy:disabled {
      pointer-events: none;
   }

   .main-container .button-buy:hover {
      color: black;
      background-color: #faf34c;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
   }

   .main-container .button-buy:active {
      box-shadow: none;
      transform: translateY(0);
   }

   /** /product/results/ **/

   .order-filter div {
      width: 40%;
   }

   .content .product {
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
   }

   .content {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
   }

   /** CRUD **/

   /*HACE QUE SE DIVIDA EN DOS COLUMNAS EL FORMULARIO*/
   
   /*form .product-details .input-box{
      width: calc(100% / 2 - 20px);
    }
*/

@media (min-width:1280px) {

   /** header **/

   .logo-link {
      max-width: 140px;
      margin-left: 20%;
   }

   #shoping-car2 {
      margin-right: 20%;
   }

   /** index **/

   .explore {
      width: 75%;
   }

   .suscribe form input {
      width: 50%;
   }

   .suscribe form button {
      width: 20%;
   }

   /** product/detail/:id **/

   .main-container {
      width: 70vw;
      transition: 0.5s all;
   }

   .main-container .box-superior {
      justify-content: space-between;
   }

   .main-container .product {
      width: 56%;
      padding: 30px;
   }

   .main-container .meta {
      width: 44%;
      display: flex;
      flex-flow: column;
      padding: 5px 5px 5px 10px;
   }

   .main-container .meta h1 {
      margin-bottom: 30px;
   }

   .main-container .meta .final-buy{
      justify-content: space-around;
   }

   /** /product/results/id **/

   .content .product {
      width: 22%;
   }

   /** productCart Correccion **/

   .item-image{
      width: 20%;
   }
   .item-detail{
      width: 40%;
   }

   .product-cart-priceDetail{
      width: 60%;
   }

   .product-cart-list{
      width: 70%
   }

   .item-detail{
      display: flex;
      flex-wrap: nowrap;
      flex-flow: column;
      justify-content: space-evenly;
   }

   .item-description{
      display: block;
   }

   .item-title{
      font-size: 20px;
   }

   .item-description{
      font-size: 14px;
   }
}