<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head") %>

    <body class="index-body">

        <!-- Header -->
        <%- include("./partials/header") %>
        
            <main class="container error-main">

                <h2 class="error-title">Error 404 :(</h2>
                
                <p class="error-text">Ups, parece que la página que buscas no está disponible. Disculpa las molestias.</p>
                <a class="error-button" href="/">Volver al Inicio</a>

            </main>

            <!-- Footer -->
            <%- include("./partials/footer") %>

    </body>

</html>