<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head") %>

   <body class="index-body">

      <!-- Header -->
      <%- include("./partials/header") %>

         <main class="index-main">
            <div class="container index-container index-titles">
               <img src="/design/logo-blanco.png" class="index-title">
               <h3 class="index-subtitle">Las mejoras ofertas, a tan solo unos clicks</h3>
            </div>
            <div class="container index-container">
               <h3 class="index-subtitle">Vender y Comprar tecnología nunca fue tan fácil y tan rápido</h3>
               <div class="index-buttons">
                  <button class="index-button"><a href="/products">Explorar productos</a></button>
                  <button class="index-button"><a href="/products/create">Empieza a vender</a></button>
               </div>
            </div>
         </main>

         <!-- Footer -->
         <%- include("./partials/footer") %>

   </body>

</html>