<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head") %>

   <body>

      <!-- Header -->
      <%- include("./partials/header") %>

         <main>
            <div class="container">
               <div class="index-titles">
                  <img src="/design/logo-blanco.png" class="index-title">
                  <h3 class="index-subtitle">Las mejoras ofertas, a tan solo unos clicks</h3>
               </div>

               <p>Vender y Comprar tecnología nunca fue tan fácil</p>

               <a href="/products"><button>Explora nuestros productos</button></a>
               <a href="/products/create"><button>Empieza a vender</button></a>
            </div>
         </main>

         <!-- Footer -->
         <%- include("./partials/footer") %>

   </body>

</html>