<footer>
   <article >
      <h3>Sobre nosotros</h3>

      <ul>
         <li>Nuestra compañia</li>
         <li>Historia</li>
         <li>Ubicaciones</li>
         <li>Resultados financieros</li>
      </ul>
   </article>

   <article c>
      <h3>Contacto</h3>

      <ul>
         <li>Trabaja con nosotros</li>
         <li>Sugerencias</li>
         <li>Quejas y reclamos</li>
      </ul>
   </article>

   <article >
      <h3>FAQs</h3>

      <ul>
         <li>Opciones de pago</li>
         <li>¿Qué pasa si no me llega un envío?</li>
         <li>¿Cómo funcionan las promociones?</li>
      </ul>
   </article>

   <article >
      <h3>Terminos y condiciones</h3>

      <ul>
         <li>¿Cómo cuidamos tu privacidad?</li>
         <li>Accesibilidad</li>
         <li>Documentos legales</li>
      </ul>
   </article>

   <article class="footer-socials">
      <h3 id="title-social">Conecta con nosotros</h3>

      <ul class="social-contacts">
         <li>
            <a href="https://www.linkedin.com" class="linkedin">
               <i class="fa-brands fa-linkedin"></i>
            </a>
         </li>
         <li>
            <a href="https://twitter.com" class="twitter">
               <i class="fa-brands fa-twitter"></i>
            </a>
         </li>
         <li>
            <a href="https://www.instagram.com/" class="instagram">
               <i class="fa-brands fa-instagram"></i>
            </a>
         </li>
         <li>
            <a href="https://www.facebook.com/" class="facebook">
               <i class="fa-brands fa-facebook"></i>
            </a>
         </li>
      </ul>
   </article>
</footer>