<header>
   <a href="/" class="logo-link">
      <img src="/design/logo.png" alt="Logo AllTech" class="logo">
   </a>

   <nav class="">
      <ul class="nav-bar" style="list-style-type:none">
         <li><a href="/user/login" id="shoping-car2" class="nav-profile">
               <i class="fas fa-user-circle"></i>
               <% if(user){ %>
                  <p>
                     <%= user.name %>
                  </p>
                  <% } %>
            </a>
         </li>
         <li><a href="/products">Nuestros Productos</a></li>
         <li><a href="/products/create">Vender</a></li>
      </ul>
   </nav>

   <form action="/products/search" method="POST" class="searchbar">
      <input type="text" placeholder="Search.." id="search" name="search" class="searchbar-input">
      <button class="searchbar-button" type="submit"><i class="fa fa-search"></i></button>
   </form>

   <a href="/user/login" id="shoping-car2" class="nav-profile2">
      <i class="fas fa-user-circle"></i>
      <% if(user){ %>
         <p>
            <%= user.name %>
         </p>
         <% } %>
   </a>
   <button class="burguer-menu" type="button">
      <i class="fas fa-bars"></i>
   </button>
</header>
<script defer src="/js/header.js"></script>