<header>
   <a href="/" class="logo-link">
      <img src="/design/logo.png" alt="Logo AllTech" class="logo">
   </a>

   <nav>
      <ul class="nav-bar" style="list-style-type:none">
         <li><a href="/product/results">PC</a></li>
         <li><a href="/product/results">Celulares</a></li>
         <li><a href="/product/results">Audio</a></li>
         <li><a href="/product/results">Periféricos</a></li>
      </ul>
   </nav>

   <form action="/" method="get" class="form">
      <input type="text" placeholder="Search.." id="search">
      <button class="botton" type="submit"><i class="fa fa-search"></i></button>
   </form>

   <a href="/user/cart" id="shoping-car" class="links"><i class="fas fa-shopping-cart"></i></a>
   <a href="/user/login" id="shoping-car2" class="links"><i class="fas fa-user-circle"></i></a>
   <button class="burguer-menu" type="button">
      <i class="fas fa-bars"></i>
   </button>
</header>