<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

<body>

   <!-- Header -->
   <%- include("../partials/header") %>

   <main>
      <form class="login">
         <h5>INICIAR SESION</h5>
         <label>Correo:</label>
         <input class="CampoTexto" type="text" name="usuario" value="" placeholder="Ingresa tu correo">
         <label>Contraseña</label>
         <input class="CampoTexto" type="password" name="contraseña" value="" placeholder="Ingresa tu contraseña">
         <input class="Boton" type="submit" name="" value="Ingresar">
         <p class="Olvido">
            <a href="#">¿Olvidaste tu contraseña?</a>
         </p>
         <p class="Registro">
            <a href="register">¿Aun no tienes cuenta?</a>
         </p>
      </form>
   </main>

   <!-- Footer -->
   <%- include("../partials/footer") %>

</body>

</html>