<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

<body>

   <!-- Header -->
   <%- include("../partials/header") %>

   <main>
      <form action="#" method="GET" class="form-register">
         <h4>FORMULARIO DE REGISTRO</h4>
         <label>Nombre:</label>
         <input class="CampoTexto" type="text" name="nombre" id="nombre" placeholder="Insertar Nombre">
         <label>Apellidos:</label>
         <input class="CampoTexto" type="text" name="apellido" id="nombre" placeholder="Insertar Apellido">
         <label>Correo:</label>
         <input class="CampoTexto" type="email" name="email" id="email" placeholder="Insertar Correo">
         <label>Contraseña:</label>
         <input class="CampoTexto" type="password" name="contraseña" id="contraseña" placeholder="Insertar Contraseña">
         <label>Confirma contraseña:</label>
         <input class="CampoTexto" type="password" name="contraseña" id="contraseña" placeholder="Repetir Contraseña">
         <p>
             <input type="checkbox" name="terminos" value="acepto">
             <a href="#">Aceptas terminos y condiciones</a>
         </p>
         <input class="Boton" type="submit" value="BIENVENIDO">
 
         <p>
             <a href="./login">¿Ya tienes cuenta?</a>
         </p>
     </form>
   </main>

   <!-- Footer -->
   <%- include("../partials/footer") %>

</body>

</html>