<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

    <body>

        <!-- Header -->
        <%- include("../partials/header") %>

            <main class="main-cart">
                <div class="main-container-cart">
                    <div class="product-cart-list" >
                        <div class="product-cart-title">PRODUCTOS EN EL CARRITO</div>

                        <div class="product-cart-item">
                            <div class="item-image">
                                <a href="#"><img class="product-img" src="/images/descarga.jfif" alt="productImage"></a>
                            </div>
                            <div class="item-detail">
                                <div class="item-title">Titulo Producto</div>
                                <div class="item-description">Mini descripcion</div>
                            </div>
                            <div class="item-priceContainer">
                                <div class="item-price">$2,100.23</div>
                                <div class="item-qty">
                                    <select class="amount" name="amount" id="amount">
                                        <option value="cantidad">Cantidad +</option>
                                        <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-button-delete">
                                <a class="delete" href="#">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div class="product-cart-item">
                            <div class="item-image">
                                <a href="#"><img class="product-img" src="/images/descarga.jfif" alt="productImage"></a>
                            </div>
                            <div class="item-detail">
                                <div class="item-title">Titulo Producto</div>
                                <div class="item-description">Mini descripcion</div>
                            </div>
                            <div class="item-priceContainer">
                                <div class="item-price">$2,100.23</div>
                                <div class="item-qty">
                                    <select class="amount" name="amount" id="amount">
                                        <option value="cantidad">Cantidad +</option>
                                        <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-button-delete">
                                <a class="delete" href="#">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>

                        <div class="product-cart-item">
                            <div class="item-image">
                                <a href="#"><img class="product-img" src="/images/descarga.jfif" alt="productImage"></a>
                            </div>
                            <div class="item-detail">
                                <div class="item-title">Titulo Producto</div>
                                <div class="item-description">Mini descripcion</div>
                            </div>
                            <div class="item-priceContainer">
                                <div class="item-price">$2,100.23</div>
                                <div class="item-qty">
                                    <select class="amount" name="amount" id="amount">
                                        <option value="cantidad">Cantidad +</option>
                                        <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-button-delete">
                                <a class="delete" href="#">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>

                        <div class="product-cart-item">
                            <div class="item-image">
                                <a href="#"><img class="product-img" src="/images/descarga.jfif" alt="productImage"></a>
                            </div>
                            <div class="item-detail">
                                <div class="item-title">Titulo Producto</div>
                                <div class="item-description">Mini descripcion</div>
                            </div>
                            <div class="item-priceContainer">
                                <div class="item-price">$2,100.23</div>
                                <div class="item-qty">
                                    <select class="amount" name="amount" id="amount">
                                        <option value="cantidad">Cantidad +</option>
                                        <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-button-delete">
                                <a class="delete" href="#">
                                    <i class="fa-solid fa-trash-can "></i>
                                </a>
                            </div>
                        </div>

                        <div class="product-cart-item">
                            <div class="item-image">
                                <a href="#"><img class="product-img" src="/images/descarga.jfif" alt="productImage"></a>
                            </div>
                            <div class="item-detail">
                                <div class="item-title">Titulo Producto</div>
                                <div class="item-description">Mini descripcion</div>
                            </div>
                            <div class="item-priceContainer">
                                <div class="item-price">$2,100.23</div>
                                <div class="item-qty">
                                    <select class="amount" name="amount" id="amount">
                                        <option value="cantidad">Cantidad +</option>
                                        <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-button-delete">
                                <a class="delete" href="#">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>

                        <div class="product-cart-item">
                            <div class="item-image">
                                <a href="#"><img class="product-img" src="/images/descarga.jfif" alt="productImage"></a>
                            </div>
                            <div class="item-detail">
                                <div class="item-title">Titulo Producto</div>
                                <div class="item-description">Mini descripcion</div>
                            </div>
                            <div class="item-priceContainer">
                                <div class="item-price">$2,100.23</div>
                                <div class="item-qty">
                                    <select class="amount" name="amount" id="amount">
                                        <option value="cantidad">Cantidad +</option>
                                        <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-button-delete">
                                <a class="delete" href="#">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class= "product-cart-priceDetail">
                        <div class="price-title">MI CARRITO</div>
                        <div class="price-subtotal">
                            <p>Subtotal</p>
                            <p>$2,100.23</p>
                        </div>
                        <div class="price-shipping">
                            <p>Envio</p>
                            <p>$400.23</p>
                        </div>
                        <div class="price-discounts-title">DESCUENTOS</div>
                        <div class="price-subtotal">
                            <p>Subtotal</p>
                            <p>$2,500.46</p>
                        </div>
                        <div class="price-discount">
                            <p>DESCUENTOS</p>
                            <p>$500</p>
                        </div>
                        <div class="price-total">
                            <p>Total</p>
                            <p>$2,100.23</p>
                        </div>
                        <div class="price-pay-button">
                            <!--<button class="button-pay">IR A PAGAR <i class="fa-solid fa-credit-card"
                                id="money-card"></i></button> -->
                                <button class="button-28" role="button">PAGAR <i class="fa-solid fa-credit-card"
                                    id="money-card"></i></button>
                        </div>
                    </div>
                </div>
                
            </main> 
            <!-- Footer -->
            <%- include("../partials/footer") %>

    </body>

</html>


