<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

   <body>

      <!-- Header -->
      <%- include("../partials/header") %>

         <main class="profile-main">
            <h2>Mi Perfil</h2>
            <div class="profile-description">
                <img src="" alt="">
                <p class="profile-info">Nombre: </p>
                <p class="profile-info">Apellido(s): </p>
                <p class="profile-info">Correo electrónico: </p>
            </div>
            <form class="" method="" action="">
                <button class="logout-button">Cerrar Sesión</button>
            </form>
         </main>

         <!-- Footer -->
         <%- include("../partials/footer") %>

   </body>

</html>